# Python bytecode
__pycache__/
*.pyc

# Diretórios ignorados
.IGNORED/
.settings/

# Arquivos de ambiente
.env
.venv
build
raff.egg-info

# Arquivos de persistência local
.lastvalue
.lastcheck
.lastfeedback
.network_state
.feedbacks.json
/data

# Arquivos temporários
var.txt

# Arquivos de desenvolvimento
_testing.py
finalprompt.txt
prompt.txt